<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users
        [users]="activeUsers"
        (userSetToInactive)="onSetToInactive($event)"></app-active-users>
      <app-inactive-users
        [users]="inactiveUsers"
        (userSetToActive)="onSetToActive($event)"></app-inactive-users>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label for="active">Active actions:</label>
      <input id="active" name="active" [value]="activeAction" readonly>
    </div>
    <div class="col-sm-6">
      <label for="inactive">Active inactions:</label>
      <input id="inactive" name="active" [value]="inactiveAction" readonly>
    </div>
  </div>
</div>
